// menu
mixin menu(classWrap, classItem, classLink, ...items)
	ul(class=classWrap)
		each item in items
			li(class=classItem)
				a(class=classLink href='#')= item

// list (group)
mixin list(classWrap, classBody, classItem, classValue, ...items)
	div(class=classWrap)
		ul(class=classBody)
			each item in items
				li(class=classItem)
					b(class=classValue)= item

// section (part content)
mixin section(classWrap, classSection, classInner, classTitle, ...items)
	div(class=classWrap)
		each item in items
			section(class=classSection)
				header
					h2(class=classTitle)= item
				article(class=classInner)
